@import './theme';
@import './mixin';

.theme-back {
  background-color: #0bb27a;
  color: #fff;
  &:hover {
    opacity: .9;
    background-color: #0bb27a;
    color: #fff;
  }
}

.theme-color {
  color: #0bb27a;
  &:hover {
    opacity: .9;
    color: #0bb27a;
  }
}

.ivu-form-item.with-icon {
  position: relative;
  .ivu-select {
    text-align: left;
    text-indent: 24px;
  }
  i.select-icon {
    position: absolute;
    left: 7px;
    top: 9px;
    z-index: 999;
  }
}
